{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container login-block">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-lg-3 mt-md-5 mt-5 mb-4">
      <img class="search-logo" src="{% static 'assets/img/logo_small.png' %}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3 d-flex flex-column justify-content-center">
     <h3 class="text-center p-1">{% trans "Sign In" %}</h3>
     <p>{% blocktrans %}Welcome back to Help U! To see the website, please log in. If you
      have not created an account yet, then <a class="link" href="{{ signup_url }}">sign up</a>
      first.{% endblocktrans %}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">
     <form class="login text-end" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button class="btn-signup btn-learn-more mt-1 mb-5" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}