{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section>
    <div class="container login-block">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-lg-3 mt-md-5 mt-4 mb-4">
                <img class="search-logo" src="{% static 'assets/img/logo_small.png' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex flex-column text-center justify-content-center mt-lg-3 mt-md-5 mt-5 mb-4">
    <h1>{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-primary"  type="submit" name="action">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
</div>
</div>
</div>
</section>
{% endblock %}
