{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<section>
    <div class="container login-block">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center mt-lg-3 mt-md-5 mt-4 mb-4">
                <img class="search-logo" src="{% static 'assets/img/logo_small.png' %}">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 d-flex flex-column text-center justify-content-center mt-lg-3 mt-md-5 mt-5 mb-4">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-primary"  type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}
