{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<div class="container login-block">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-lg-3 mt-md-5 mt-5 mb-4">
            <img class="search-logo" src="{% static 'assets/img/logo_small.png' %}">
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-md-3 d-flex flex-column justify-content-center">
            <h1>{% trans "Sign Up Closed" %}</h1>

            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
        </div>
    </div>
</div>
{% endblock %}