{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% load socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container login-block">
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-xl-1 mt-lg-4 mt-md-5 mt-5">
      <img class="search-logo" alt="logo - yellow and blue heart made of leaves" src="{% static 'assets/img/logo.png' %}">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-center mt-lg-3 mt-md-5 mt-2 text-center">
      <div class="card shadow-lg mb-5 text-center" style="max-width: 22rem;">
        <div class="card-body">

          <h3 class="card-title text-uppercase">{% trans "Sign Up" %}</h3>
          <hr>
          <p class="card-text fw-light">{% blocktrans %}Welcome to <strong>Help U</strong>!<br> Do you already have an
            account? Then
            please <a class=" link" href="{{ login_url }}">sign in</a> instead.{% endblocktrans %}</p>
          <div class="separator">OR</div>
          <a href="{% provider_login_url 'facebook' %}" class="fs-4 px-1" aria-label="login with your Facebook account"><i class='bx bxl-facebook-square'></i></a>
          <a href="{% provider_login_url 'google' %}" class="fs-4 text-danger px-1" aria-label="login with your Google account"><i class='bx bxl-google'></i></a>

          <form class="signup d-flex flex-column justify-content-center text-start px-2" id="signup_form" method="post"
            action="{% url 'account_signup' %}">
            {% csrf_token %}
            {{ form | crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div class="d-grid gap-2">
              <button class="btn-signup btn btn-primary mt-2 mb-2" type="submit">{% trans "Sign Up" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}