{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <meta content="A platform that connects Ukrainians who need help with those who want to help." name="description">
  <meta content="Ukraine, Ukraininan refugees, help Ukraine, support Ukraine, Europe for Ukraine, charity, volunteering, give away, free" name="keywords">
  <meta name="google-site-verification" content="tzjivbjXG2fsyF_Voc9PLpldhS-_uvCKp37X6zv0gk8" />

  <!-- Favicons -->
  <link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}">

  <!-- External CSS -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

  <!-- Main CSS -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

  <title>Help U</title>
</head>

<body class="d-flex flex-column min-vh-100">
  <!-- Header -->
  {% include 'navbar.html' %}

  {% block content %}
  <!-- Content  -->
  {% endblock content %}

  </main><!-- End #main -->

  <!-- Footer -->
  <footer id="footer" class="mt-auto">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>Help U</h3>
            <p>
              is a non-profit project.<br><br>
              In no event shall the web-site be liable <br>
              for any special, incidental, indirect, or <br>
              consequential damages whatsoever arising out<br>
              of or in connection with your access or use or<br>
              inability to access or use the Service.<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-dot"></i> <a href="https://icanhelp.host/" target="_blank"
                aria-label="Accomodation for refugees in people's houses (opens in a new tab)">I can help.host</a></li>
              <li><i class="bi bi-dot"></i> <a href="https://translate.google.com/?sl=auto&tl=uk&op=translate&hl=en" target="_blank"
                aria-label="Goggle translate (opens in a new tab)">Good translator</a></li>
              <li><i class="bi bi-dot"></i> <a href="https://impactful.ninja/best-charities-for-ukraine/" target="_blank"
                aria-label="List of legit charities 2023 (opens in a new tab)">List of charities</a></li>
              <li><i class="bi bi-dot"></i> <a href="https://war.ukraine.ua/donate/" target="_blank"
                aria-label="The official website of Ukraine, List of Charities (opens in a new tab)">Donate here</a></li>
              <li><i class="bi bi-dot"></i> <a href="https://war.ukraine.ua/support-ukraine/" target="_blank"
                aria-label="The official website of Ukraine (opens in a new tab)">Help Ukraine</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our site</h4>
            <ul>
              <li><i class="bi bi-dot"></i> <a href="{% url 'main:home' %}#faq">FAQ</a></li>
              <li><i class="bi bi-dot"></i> <a href="{% url 'main:home' %}#about">About us</a></li>
              <li><i class="bi bi-dot"></i> <a href="{% url 'main:home' %}#contact">Contact us</a></li>
              <li><i class="bi bi-dot"></i> <a href="https://helpu-terms.mynotice.io/" target="_blank"
                aria-label="Terms of service (opens in a new tab)">Terms of service</a></li>
              <li><i class="bi bi-dot"></i> <a href="https://www.freeprivacypolicy.com/live/d2a97e3d-2606-44c5-98c6-01e360abe780" target="_blank"
                aria-label="Privacy policy (opens in a new tab)">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-md-6 footer-links social">
            <ul>

              <li><a href="https://www.whatsapp.com" target="_blank"
                aria-label="Whatsapp Chat with Help U (opens in a new tab)" class="whatsapp pt-4"><i class="bx bxl-whatsapp"></i></a></li>
              <li><a href="https://telegram.org" target="_blank"
                aria-label="Telegram Chat with Help U (opens in a new tab)" class="telegram"><i class="bx bxl-telegram"></i></a></li>
              <li><a href="https://www.facebook.com" target="_blank"
                aria-label="Facebook Help U (opens in a new tab)" class="facebook"><i class="bx bxl-facebook"></i></a></li>
              <li><a href="https://www.instagram.com" target="_blank"
                aria-label="Instagram Help U (opens in a new tab)" class="instagram"><i class="bx bxl-instagram"></i></a></li>
              <li><a href="https://twitter.com" target="_blank"
                aria-label="Twitter Help U (opens in a new tab)" class="twitter"><i class="bx bxl-twitter"></i></a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="loader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- External JavaScript -->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous">
  </script>
  <!-- Main JavaScript -->
  <script src="{% static 'main.js-bundle.js' %}"></script>

</body>

</html>