{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero -->
<section id="hero" class="d-flex align-items-center">
  <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-9 text-center">
        <img class="img-logo" src="{% static 'assets/img/logo.png' %}"
          alt="logo - yellow and blue heart made of leaves">
        <h1>People for people</h1>
        <h2>We connect the ones who can help with the ones who need it</h2>
      </div>
    </div>
    <div class="text-center">
      <a href="{% url 'main:posts_list' 'receive' %}" id="can_help" class="btn-hero scrollto">I can help</a>
      <a href="{% url 'main:posts_list' 'give' %}" id="need_help" class="btn-hero scrollto">I need help</a>
    </div>
  </div>
</section><!-- End Hero -->
<div class="container-fluid arrow fade-in-image"><i class="bi bi-chevron-double-down fade-in-down"></i></div>

<main id="main">
<!-- About -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>About</h2>
      <p>At least 12 million people have fled their homes since Russia's invasion of Ukraine having to start their
        lives all over again. If you want to help, but don't know how, you can offer help here: house items, services,
        dinner, language practice, just yout time. Help locally. Help online. You can browse through requests for
        help, maybe there is something you could do, just you are not aware it's needed. Many people are afraid of
        asking
        for help publicly on social media or intimidated with big charity centeres refrain from seeking support. Here
        is a safe space, where nobody is going to judge anybody. </p>
      <a href="#" class="btn-learn-more">Learn More</a>
    </div>
  </div>
</section><!-- End About -->

<!-- FAQ -->
<section id="faq" class="faq section-bg d-none d-sm-block">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Frequently Asked Questions</h2>
      <p>Below you'll find answers to the questions we get asked the most about Help U </p>
    </div>

    <div class="faq-list">
      <ul>
        <li data-aos="fade-up">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">How do I know it is safe? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
            <p>
              Blah-blah-blah-blah
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="100">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">How do you verify users' identity? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
            <p>
              Blah-blah-blah-blah
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="200">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How can I get help?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
            <p>
              Blah-blah-blah-blah
            </p>
          </div>
        </li>

        <li data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">What can I do if I don't speak the language?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
          <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
            <p>
              Blah-blah-blah-blah
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section><!-- End FAQ -->

<!-- Contact Form -->
<section id="contact" class="contact">

  {% include 'contact_form.html' %}

</section><!-- End Contact Section -->

{% endblock %}