{% load static %}
{% load cloudinary %}

{% if 'post_list' %}
<div class="col-10  left">
  <!-- new post button -->
    <a href="{% url 'main:new' %}" class="btn btn-success mt-1 new-post">New post</a>
    <div class="row gx-2">

        {% for post in post_list %}
        <!-- single post -->
        <div class="col-xxl-2 col-xl-3 col-lg-4 col-sm-6">
            <div class="card mb-3">
                <div class="card-body">
                    
                    <a href="{% url 'main:full' post.slug  %}">
                        <!-- badges -->
                        {% if 'all' in request.path %}
                        {% if post.type == 'give' %}
                        <span class="badge bg-success position-absolute top-20 end-0">Give</span>
                        {% else %}
                        <span class="badge bg-warning position-absolute top-20 end-0">Need</span>
                        {% endif %}
                        {% endif %}
                        <!-- image -->
                        <div class="image-container">
                            {% if "placeholder" in post.image.url %}
                            <img class="card-img-top" style="opacity: 0.4; scale: 0.6;"
                                src="{% static 'assets/img/logo_small.png' %}">
                            {% else %}
                            {% cloudinary post.image height=350 width=350 crop="fill" class="card-img-top" %}
                            {% endif %}
                        </div>
                        <!-- post title -->
                        <h4 class="card-title mt-3 text-truncate" title="{{ post.title|title }}">
                            {{ post.title|title }}</h4>
                    </a>
                    <!-- location -->
                    <p class="subtitle text-truncate p"><i class='bx bx-map'></i>
                        <a href="https://www.google.com/maps/place/{{post.city}}+{{post.country.name}}" target="_blank"
                            class="geo" title="{{ post.city }}, {{ post.country.name }}">
                            {{ post.city}}, {{ post.country.name }}
                            <!-- map toolkit -->
                            <iframe class="preview" loading="lazy" allowfullscreen
                                referrerpolicy="no-referrer-when-downgrade"
                                src="https://www.google.com/maps/embed/v1/place?key={{ key }}&q={{ post.city }}+{{ post.country.name }}&zoom=11">
                            </iframe></a></p>
                    {% if post.area != None %}
                    <p class="subtitle text-muted p"><i class='bx bx-building-house'></i>{{ post.area }}</p>
                    {% else %}
                    <p class="subtitle text-muted p"><i class='bx bx-building-house'></i> ... </p>
                    {% endif %}
                    <!-- author -->
                    <div class="author subtitle p">
                      <a href="{% url 'users:profile' post.author.id %}">
                        <i class='bx bxs-user-circle'></i>
                        <span> 
                          {{ post.author }}
                        </span>
                      </a>
                    </div>
                    <hr>
                    <!-- post text -->
                    <p class="card-text content line-clamp">{{ post.text }}</p>
                    <p class="card-text text-muted h6 text-truncate">{{ post.created_on|date:"d M Y" }}</p>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- pagination -->
    {% if page_obj.has_other_pages %}
    <nav>
        <ul class="pagination justify-content-center mt-4 mb-0">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link"
                    href="?page=1{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">First</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                    Previous
                </a>
            </li>
            {% endif %}

            {% for page_number in page_obj.paginator.page_range %}
            {% if page_number <= page_obj.number|add:3 and page_number >= page_obj.number|add:-3 %}
            {% if page_obj.number == page_number %}
            <li class="page-item active">
                <a class="page-link"
                    href="?page={{ page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ page_number }}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                    Next
                </a>
            </li>
            <li class="page-item">
                <a class="page-link"
                    href="?page={{ page_obj.paginator.num_pages }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">
                    Last
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% else %}
<p>Ooops, nothing here.</p>
{% endif %}